<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <title>속닥속닥</title>
    <style>
        html,body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .contents {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
        }
        .cry-img {
            width: 300px;
        }
        p {
            margin: 0;
            font-weight: bold;
            font-size: 25px;
        }
    </style>
</head>
<body>
    <div class="contents">
        <img class="cry-img" th:src="@{/images/cry.png}"/>
        <p>아직..웹 페이지는 존재하지 않아요...앱에서 만나요!</p>
    </div>
</body>
</html>