<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="description" content="주위 친구들, 연인, 부모님 등 소중한 사람들과 함께 당신의 속마음을 속삭여주세요." />
    <meta name="keywords" content="속닥,속닥속닥,음성,롤링페이퍼,롤링,페이퍼,voice,rolling,paper,rolling paper, whisper" />

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://sokdak.site/">
    <meta property="og:title" content="우리들만의 특별한 음성 롤링페이퍼 | 속닥속닥">
    <meta property="og:description" content="주위 친구들, 연인, 부모님 등 소중한 사람들과 함께 당신의 속마음을 속삭여주세요.">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://sokdak.site/">
    <meta property="twitter:title" content="우리들만의 특별한 음성 롤링페이퍼 | 속닥속닥">
    <meta property="twitter:description" content="주위 친구들, 연인, 부모님 등 소중한 사람들과 함께 당신의 속마음을 속삭여주세요.">

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>우리들만의 특별한 음성 롤링페이퍼 | 속닥속닥</title>
</head>
<body>
    <div class="background"> </div>
    <div class="main-container">
        <img class="icon" th:src="@{/images/app_icon.png}" />
        <img class="logo" th:src="@{/images/logo.png}">
        <p class="title text">음성으로 남기는 롤링페이퍼 서비스</p>
        <p class="description text">앱을 다운로드 받아서 롤링페이퍼를 작성해보세요!</p>
        <div class="link-container">
            <a class="app-store-btn btn" href="https://www.apple.com/kr/app-store/">
                <img class="apple-store-icon" th:src="@{/images/apple_store_icon.png}">
                <p class="text btn-text">App Store</p>
            </a>
            <a class="google-play-btn btn" href="https://play.google.com/store/apps">
                <img class="google-play-icon" th:src="@{/images/google_play_icon.png}">
                <p class="text btn-text">Google Play</p>
            </a>
        </div>
    </div>
</body>
</html>